.inner {
    background-color: #E6E6E6;
    border-radius:10px;
    padding:10px;
    /*border:1px solid black;*/
}

.col-md-6 {
    padding:10px;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.outer{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.clientEdit{
    padding-left: 0;
    padding-right: 0;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.order{
    margin-bottom: 1rem;
    cursor: pointer;
}