.login{
    margin: 10rem -5rem -5rem 0;
}

.registerLink {
    font-size: 10px;
    line-height: 1px;
}

.buttonWithFunction {
    background: transparent;
    border: none !important;
}

.icon {
    color: #109db8;
}