.login{
    margin: 10rem -5rem -5rem 0;
}

.registerLink {
    font-size: 10px;
    line-height: 1px;
}

.buttonWithFunction {
    background: transparent;
    border: none !important;
}

.outer{
    margin-left: 0;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 1%;
}

.icon {
    color: #109db8;
}

.dropdown-toggle::after {
    display: none;
}

.bottom{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.spaced{
    margin-bottom: 2%;
    margin-top: 5%;
    margin-right: 2%;
}

.spaced-top{
    margin-top: 1.2rem;
}

.fit{
    white-space: nowrap;
    width: 1%;
}

.spinner {
    margin: 100px auto 0;
    width: 150px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.fixed-panel {
    max-height: calc(100vh - 200px);
    overflow-y: auto
}

.fixed-panel-big{
    max-height: calc(100vh - 155px);
    overflow-y: auto
}

.rem1 {
    font-size: 1rem;
}
